<form action="/account/update" method="post" class="account-update-form">
  <input type="hidden" name="account_id" value="<%= account.account_id || '' %>">

  <div class="form-group">
    <label for="account_firstname">First Name</label>
    <input
      type="text"
      name="account_firstname"
      id="account_firstname"
      value="<%= account.account_firstname || '' %>"
      required
    >
  </div>

  <div class="form-group">
    <label for="account_lastname">Last Name</label>
    <input
      type="text"
      name="account_lastname"
      id="account_lastname"
      value="<%= account.account_lastname || '' %>"
      required
    >
  </div>

  <div class="form-group">
    <label for="account_email">Email</label>
    <input
      type="email"
      name="account_email"
      id="account_email"
      value="<%= account.account_email || '' %>"
      required
    >
  </div>

  <button type="submit">Update Account</button>
</form>
