


<main>
  <h2> Vehicle Management </h2>

  <nav class="management-view">
    <ul>
      <li><a href="/inv/add-classification">Add New Classification</a></li>
      <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
    </ul>
  </nav>

</main>


